

<article>
<h1>
  <%= @the_recipe.title %> Details
</h1>
  <div>
    <a href="/recipes">
      Go back
    </a>
  </div>

  <%if current_user.id == @the_recipe.creator_id%>
  <div>
    <a href="/delete_recipe/<%= @the_recipe.id %>">
      Delete recipe
    </a>
  </div>
  <%end%>

  <dl>
    <dt>
      Title
    </dt>
    <dd>
      <%= @the_recipe.title %>
    </dd>

    <dt>
      Description
    </dt>
    <dd>
      <%= @the_recipe.description %>
    </dd>

    <dt>
      Ingredients
    </dt>
    <dd>
      <%= simple_format(@the_recipe.ingredients) %>
    </dd>

    <dt>
      Instructions
    </dt>
    <dd>
      <%= simple_format(@the_recipe.instructions) %>
    </dd>

    <dt>
      Servings
    </dt>
    <dd>
      <%= @the_recipe.servings %>
    </dd>
  </dl>
</article>



<%if current_user.id == @the_recipe.creator_id%>
<article>
  <header>
    <h2>
      Edit recipe
    </h2>
  </header>

  <form action="/modify_recipe/<%= @the_recipe.id %>"  method="post" >
    <div>
      <label for="title_box">
        Title
      </label>

      <input type="text" id="title_box" name="query_title" value="<%= @the_recipe.title %>">
    </div>

    <div>
      <label for="description_box">
        Description
      </label>

      <input type="text" id="description_box" name="query_description" value="<%= @the_recipe.description %>">
    </div>

    <div>
      <label for="ingredients_box">
        Ingredients
      </label>
      <textarea name="query_ingredients" id="ingredients_box" rows="4"> <%= @the_recipe.ingredients %> </textarea>
    </div>

    <div>
      <label for="instructions_box">
        Instructions
      </label>
      <textarea name="query_instructions" id="instructions_box" rows="5"> <%= @the_recipe.instructions %></textarea>
    </div>

    <div>
      <label for="servings_box">
        Servings
      </label>

      <input type="text" id="servings_box" name="query_servings" value="<%= @the_recipe.servings %>">
    </div>



    <button type="submit">
      Update recipe
    </button>
  </form>
</article>
<%end%>

<hr>
